.card {
  // .card__inner
  &__inner {
    position: relative;
    max-width: 580px;
    margin: 0 auto;
    perspective: 1000px;
  }
  &__front,
  &__back {
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    width: 580px;
    max-width: 100%;
    aspect-ratio: 580/375;
    transition: transform 1s;
  }
  // .card__front
  &__front {
  }
  // .card__front-image
  &__front-image {
  }
  // .card__back
  &__back {
    padding: 32px;

    @media (max-width: 540px) {
      padding: 24px;
      aspect-ratio: unset;
    }
  }
  // .card__title
  &__title {
    color: #f44;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;

    @media (max-width: 540px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }
  // .card__contacts
  &__contacts {
    display: grid;
    grid-template-columns: 54px 1fr;
    justify-items: start;
    gap: 8px 16px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 540px) {
      margin-bottom: 12px;
    }
  }
  // .card__detail
  &__detail {
  }
  // .card__subtitle
  &__subtitle {
    opacity: 0.3;
  }
  // .card__from
  &__from {
  }
  // .card__to
  &__to {
  }
  // .card__message
  &__message {
    font-size: 20px;

    @media (max-width: 540px) {
      font-size: 16px;
    }
  }
}
