.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: start;

  @media (max-width: 1080px) {
    gap: 12px;
  }

  @media (max-width: 540px) {
    grid-template-columns: 1fr;
  }

  // .form__label
  &__label {
    width: 100%;

    // .form__label_textarea
    &_textarea {
      grid-column: 1 / -1;
      margin-bottom: 8px;
    }
  }
  // .form__label-text
  &__label-text {
    display: block;
    margin-bottom: 4px;
    white-space: nowrap;
  }
  // .form__field
  &__field {
    width: 100%;
    font: inherit;
    padding: 8px 16px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #dedede;
    background-color: #fbfbfb;

    &:hover,
    &:active,
    &:focus-visible {
      border-color: #999;
    }

    // .form__field_textarea
    &_textarea {
      resize: vertical;
      min-height: 150px;
    }
  }
  // .form__btn
  &__btn {
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 140%;
    padding: 8px 24px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: #4baa00;
    outline: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #58c601;
    }

    &:focus {
      border-color: #58c601;
      background-color: #4baa00;
    }

    &:focus-visible {
      border-color: #58c601;
      background-color: #4baa00;
    }

    &:active {
      transform: translate(2px, 2px);
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
      user-select: none;
    }
  }
}
