.header {
  padding: 40px 0;

  @media (max-width: 1080px) {
    padding: 32px 0 16px;
  }

  @media (max-width: 540px) {
    padding-top: 24px;
  }

  // .header__container
  &__container {
    display: flex;
    justify-items: start;
  }

  // .header__logo
  &__logo {
    width: 180px;
  }
}
